<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.weixin.student.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.weixin.teacher.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.weixin.company.servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.weixin.role.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.weixin.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClassesServlet</servlet-name>
    <servlet-class>com.weixin.classes.servlet.ClassesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.weixin.course.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReturnInfoServlet</servlet-name>
    <servlet-class>com.weixin.returninfo.servlet.ReturnInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JobInfoServlet</servlet-name>
    <servlet-class>com.winxin.jobinfo.servlet.JobInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InterviewInfoServlet</servlet-name>
    <servlet-class>com.weixin.interviewinfo.servlet.InterviewInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.weixin.auth.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRoleServlet</servlet-name>
    <servlet-class>com.weixin.userrole.servlet.UserRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>com.weixin.data.servlet.DataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImgCutUploadServlet</servlet-name>
    <servlet-class>com.weixin.utils.upload.ImgCutUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassesServlet</servlet-name>
    <url-pattern>/ClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnInfoServlet</servlet-name>
    <url-pattern>/ReturnInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobInfoServlet</servlet-name>
    <url-pattern>/JobInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterviewInfoServlet</servlet-name>
    <url-pattern>/InterviewInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRoleServlet</servlet-name>
    <url-pattern>/UserRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgCutUploadServlet</servlet-name>
    <url-pattern>/ImgCutUploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>